<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore, 
        quidem expedita quisquam hic ea sit adipisci recusandae! Obcaecati veritatis dolor aliquam molestias quod, 
        accusamus quasi vitae tempore doloribus nesciunt delectus incidunt, porro soluta iste. 
        Laborum minima eum ab saepe.</p>
    </div>
</div>