<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">¡Bienvenido a una aplicación de Notas!</p>
    <hr class="my-4">
    <p>Aquí podrás listar notas para tí y otros usuarios. Solo debes registrarte, ingresar al sitio web y ¡Listo!</p>
</div>