<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque optio maiores, sit ab ratione harum exercitationem perferendis dolor quia nisi! Odio facere consequatur veniam optio possimus, at omnis earum sequi!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>